<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>options</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="./" title="">01 : Home</a></li>
                        <li><a href="./developers" title="">02 : developers</a></li>
                        <li><a href="./contact" title="">03 : contact</a></li>
                    </ul>

                    <!-- this is for the heading -->
                    <div class="section-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="section-container-spacer text-center">
                                        <h1 class="h2">DIFFERENT POSES</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </nav>
    </header>
    <div class="section-container">
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                    <div class="text-center">
                        <h1 class="h2">02 : Works</h1>
                        <p>We have installed Sublime Text, Flask, and Python 3.9.  This is our portfolio website.  We will deploy it on Python Anywhere using github.  Our server implemented using Python Language</p>
                    </div>
                </div>

                <div class="col-md-12">

                    <div id="myCarousel" class="carousel slide projects-carousel">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <a href="./work.html" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/work01-hover.jpg" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>001/006</h4>
                                            <h3>Trikonasana</h3>
                                            <p> The person extends their legs apart without bending the knees, wherein hands spread apart, forming an angle of 90 degrees between the upper and lower part of the body</p>

                                            <a href="./trikonasana" title="" class="btn btn-default">DEMO</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="./work.html" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/work02-hover.jpg" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>002/006</h4>
                                            <h3>Ardha_uttasana</h3>
                                            <p>This asana, the practitioner folds forward at the hips from a standing position, then lifts the head and heart, gently pressing them outward. To increase the heart-opening benefits of this asana.</p>
                                            <a href="./ardha_uttasana" title="" class="btn btn-default">DEMO</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="./work.html" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/work03-hover.jpg" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>003/006</h4>
                                            <h3>LUNGES</h3>
                                            <p>Stand with feet hip-width apart, engage your core, and take a big step backward. Activate your glutes as you bend front knee to lower your body so back knee lightly taps the floor while keeping upper body upright.</p>
                                            <a href="./lunges" title="" class="btn btn-default">DEMO</a>
                                        </div>
                                    </div>

                                </div>
                                <!--/row-->
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="./work.html" class="black-image-project-hover">
                                            <img src="./static/assets/images/work02-hover.jpg" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>004/006</h4>
                                            <h3>Vyaghrasana</h3>
                                            <p>Vyaghrasana stretches out the abdominal muscles, promotes digestion, stimulates blood circulation and helps melt away the fat from your hips and thighs. Place your hands and knees on the floor. This is the starting position.</p>
                                            <a href="./Vyaghrasana" class="btn btn-default">DEMO</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="./work.html" class="black-image-project-hover">
                                            <img src="./static/assets/images/work01-hover.jpg" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>005/006</h4>
                                            <h3>Ardha chandrasana</h3>
                                            <p>Ardha chandrasana is derived from the Sanskrit ardha, meaning "half," and chandra, meaning "moon," and asana meaning "seat" or "posture."</p>
                                            <a href="./ardha_chandrasana" class="btn btn-default">DEMO</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="./work.html" class="black-image-project-hover">
                                            <img src="./static/assets/images/work01-hover.jpg" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>006/006</h4>
                                            <h3>PLANK</h3>
                                            <p>The plank is an excellent abdominal and core exercise. To ensure you keep your core strong and stable, add the plank to your ab workout program.</p>
                                            <a href="./planks" class="btn btn-default">DEMO</a>
                                        </div>
                                    </div>



                                </div>
                                <!--/row-->
                            </div>

                            <!--/item-->
                        </div>
                        <!--/carousel-inner-->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>



                    <!--/myCarousel-->
                </div>



            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            navActivePage();
        });
    </script>
    <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</body>
</html>