<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <style>
    .middle{
    margin-left:35%;
    color:black;
    text-transform:uppercase;
    text-indent:80px;
    line-height:40px;
    font-size:40px

    }
    .border{
    border:5px solid #555;
    }
    .information{
    margin-left:200px;
    margin-right:200px;
    color:black;
    font-size:20px
    }
    .start{
    text-align:center;
    font-size:20px;
    }
  </style>
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./assets/favicon.ico" rel="icon">

  <title>yoga</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<br>



<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
          </div>
        </div>
      </div>
      <div class="middle" >
        <p >PLANK</p>
      </div>
      <br>
      <div class="information">
  <p>Begin in the plank position, face down with your forearms and toes on the floor.
      Your elbows are directly under your shoulders and your forearms are facing forward. Your head is relaxed and you should be looking at the floor.
Engage your abdominal muscles, drawing your navel toward your spine. Keep your torso straight and rigid and your body in a straight line from your ears to your toes with no sagging or bending.
      This is the neutral spine position.
      Ensure your shoulders are down, not creeping up toward your ears.
      Your heels should be over the balls of your feet.
Hold this position for 10 seconds. Release to floor.
Over time work up to 30, 45, or 60 seconds.</p>
<br>
        <img class="border" width="360" height="240" src="static/data_images/plank1.jpg">
<img class="border" width="360" height="240" src="static/data_images/plank2.jpg">
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
        <br>
  <br>
<div class="start">
  <a href="./common_video" title="" class="active">START</a>
</div>


<script type="text/javascript" src="./main.70a66962.js"></script>
</body>

</html>